@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  --color-primary: #ec5242;
  --color-secondary: #272a31;
  --color-tertiar: #d3d3d3;
  --color-text-color: #070707;
}

/* Global Classes */

.flex-colum-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  color: var(--color-secondary);
  z-index: 10;
}

/* Header: Social Nav */

.social-nav {
  display: none;
}

/* Header: Main Nav */
#open-menu,
#close-menu {
  box-sizing: border-box;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  padding-top: 24px;
  padding-left: 16px;
  color: var(--color-text-color);
}

#main-nav {
  width: 100%;
  height: 70px;
  opacity: 0.98;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}

#main-nav .header-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-color);
  margin-right: 20px;
}

.header-title img {
  width: 40px;
  margin-right: 8px;
}

#main-nav .header-title h1 {
  font-size: 1.2rem;
  margin-top: 16px;
}

#main-nav #list-nav {
  width: 90%;
  height: 100vh;
  position: fixed;
  top: 0;
  list-style: none;
  align-items: flex-start;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: transform 0.7s ease-in-out;
  left: -100vw;
  background-color: var(--color-secondary);
}

#main-nav ul #close-menu {
  color: white;
}

#main-nav ul li {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}

#main-nav ul li a {
  width: 100%;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.descriptions-container hr {
  width: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0.5px solid #e6e6e6;
  border-radius: 0.25px;
}

#main-nav ul li hr {
  margin-left: 16px;
  margin-right: 50px;
  margin-top: 8px;
  border: 0.5px solid #425176d3;
}

/* Headline Section */
#headline {
  width: 100%;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: url("images/background-headline-mobile-2.png");
}

.content-background {
  width: 100%;
  height: 100%;
}

.headline-titles {
  margin-top: 150px;
  margin-left: 8px;
  color: var(--color-primary);
}

.headline-titles h2 {
  font-size: 2.125rem;
  font-weight: 700;
}

.headline-titles h2,
span {
  color: transparent;
  background-image: linear-gradient(30deg, rgba(235, 71, 53, 0.5), rgba(252, 44, 7, 0.25)), url("images/background-mobile-image.png");
  -webkit-background-clip: text; /* Warning: defining background-clip will cause linter error */
}

.content-description {
  width: 100%;
  position: absolute;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-subtitle {
  width: 85%;
  font-weight: 500;
  background-color: rgba(211, 211, 211, 0.2);
  border: 5px solid white;
  padding: 14px 16px 14px 16px;
}

.headline-date {
  font-weight: 700;
  color: #575757;
  margin-top: 50px;
}

.headline-location {
  font-weight: 300;
  color: #575757;
  margin-top: 8px;
}

/* Main Program */
#main-program {
  width: 100%;
  min-height: 500px;
  color: white;
  background-image: url("images/background-program.png");
}

.section-title {
  font-size: 2.2rem;
  margin-top: 30px;
  text-align: center;
}

.section-subtitle {
  display: block;
  width: 60px;
  margin-top: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  border-bottom: 4px solid var(--color-primary);
  
}

.list-activies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 60px;
  gap: 10px;
}

.activity {
  width: 95%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}

.activity .program-icon {
  min-width: 80px;
  height: 80px;
  margin-left: 4px;
  margin-right: 4px;
}

.activity .program-title {
  width: 20%;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 0.938rem;
}

.activity .program-descriptions {
  width: 60%;
  font-size: 0.938rem;
  font-weight: 500;
  margin-right: 4px;
  margin-left: 6px;
}

.buttons-primary {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: none;
  background-color: var(--color-primary);
  padding: 24px 36px 24px 36px;
}

#main-program .buttons-primary {
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-speakers {
  width: 100%;
  min-height: 100px;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
}

.speaker {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 750px;
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.speaker-img-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("images/speaker-background.png");
}

.speaker-img-container img {
  width: 90%;
  height: 90%;
  background-color: #ec5242;
}

.descriptions-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.speaker-title {
  font-size: 1.25rem;
  font-weight: 900;
}

.speaker-subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-primary);
}

.speaker-description {
  font-size: 0.75rem;
  font-weight: 500;
}

#btn-show-more {
  width: 95%;
  background: transparent;
  font-weight: 500;
  font-size: 1.25rem;
  border: 1px solid var(--color-tertiar);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* Partner */

#partners {
  width: 100%;
  min-height: 350px;
  color: white;
  background-color: #414246;
}

.list-partners {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.partner {
  min-height: 60px;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.partner img {
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container img {
  width: 90%;
  max-height: 100%;
  cursor: pointer;
}

.footer-container p:first-child {
  font-size: 0.75rem;
  font-weight: 300;
}

.footer-container p:last-child {
  display: none;
}

/* Headline : About.html  */
#headline.about {
  background-image: url("images/backgroud-mobile-headline.png");
}

.headline-titles.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  margin-left: 0;
  margin-top: 0;
}

.headline-titles.about h2,
span {
  color: var(--color-primary);
}

.headline-subtitle.about {
  border: 1px solid #d3d3d3;
  background-color: white;
  text-align: center;
}

.content-background .headline-titles.about h2 {
  text-align: center;
}

.about-description {
  font-weight: 300;
  color: #575757;
  margin-top: 16px;
  text-align: center;
  padding: 8px 16px 8px 16px;
}

.about-email {
  color: #575757;
  font-weight: 500;
  margin-top: 8px;
  text-decoration: underline;
  cursor: pointer;
}

/* Logo History : About.html  */

#Logo-history {
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid var(--color-tertiar);
}

.summit img {
  width: 120%;
  height: 100%;
}

#Logo-history img {
  width: 80%;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

/* Past History / List Of Summits : About.html  */

#Past-history {
  width: 100%;
  min-height: 250px;
}

.list-summits {
  list-style: none;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 130px;
}

.summit {
  width: 80%;
  width: 310px;
  height: 290px;
  overflow: hidden;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}

.summit .summit-description {
  position: absolute;
  justify-content: center;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 1;
  color: white;
  background-color: rgba(236, 82, 66, 0.7);
}

.summit .summit-description h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.summit .summit-description p {
  font-size: 0.813rem;
  font-weight: 400;
  padding: 16px;
  text-align: center;
}

/* Footer Section: About.html  */

footer.about {
  color: white;
  background-color: var(--color-secondary);
}

/* Pricing Section: Ticket.html */

.pricing {
  padding-top: 100px;
  background-color: #f3f3f3;
}

.step {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 16px;
  width: 80%;
  height: auto;
  margin: 40px 16px 30px 16px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.7);
}

.step-title {
  color: var(--color-primary);
  font-weight: 700;
  text-align: center;
  
}

.step-description {
  margin-left: 12px;
  font-size: 1rem;
  text-align: center;
}


/* Table */
.table-desktop-prices {
  display: grid;
  grid-template-columns: 4fr 12fr;
  grid-template-rows: 4fr;
  overflow: hidden;
  width: 95%;
  height: 410px;
  background-color: white;
  border-bottom: 1px solid var(--color-tertiar);
}

thead {
  flex-wrap: wrap;
  color: var(--color-primary);
  font-weight: 900;
  background-color: #ffa297;
  border-left: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}

tbody {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-left: 1px solid var(--color-tertiar);
}

table td { border-collapse: collapse; } 

thead tr {
  width: 100%;
}

tbody tr {
  width: 33%;
}

tr :last-child {
  border-bottom: none;
}

tr {
  display: flex;
  flex-direction: column;
}

tr :first-child {
  border-left: none;
}

th, td {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--color-tertiar);
  border-bottom: 1px solid var(--color-tertiar);
  border-left: none;
  border-top: none;
}

th {
  border-right: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  background-color: #ffa297;
}

th:nth-child(3){
  height: 160px;
}

tbody label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

tbody input {
  margin-top: 18px;
}

.btn-down {
  margin-top: 100px;
  height: 60px;
  width: 60px;
  transform:translateY(30px);
  background-image: url('./images/retangleback.png');
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-down i {
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
}

.btn-down i:hover {
  transform: scale(1.3);
}

/* Lunch Section */

.lunch {
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table-menu {
  width: 90%;
}

.table-menu thead tr th {
  width: 100%;
}

.table-menu tbody tr {
  width: 100%;
  border: 1px solid var(--color-tertiar);
}

.table-menu tbody tr td {
  border-left: none;
}

#btn-schedule {
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 140px;
  padding: 16px 24px 16px 24px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  transition-duration: 0.4s;
  text-decoration: none;
}

#btn-schedule:hover {
  background-color: white;
  color: var(--color-primary);
}

/* Day section Schedule Page */
.schedule {
  padding-top: 100px;
  background-color: #f3f3f3;
}

.list-days {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 60px;
}

.day {
  width: 180px;
  text-align: center;
  font-size: 1.2rem;
  padding: 16px 32px 16px 32px;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: 1px solid var(--color-tertiar);
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.day.selected {
  background-color: var(--color-primary);
  border: 1px solid #cd4536;
  color: white;
  font-weight: 500;
}

.separator {
  width: 94%;
  height: 1px;
  border: none;
  background-color: #bebebe;
  margin-top: 24px;
  margin-bottom: 24px;
  opacity: 0.8;
}

/* Ticket Detail Section */
.ticket-detail {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ticket-date {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.ticket-description {
  padding: 12px;
  margin-bottom: 60px;
}

.ticket-description a {
  color: rgb(116, 173, 248);
}

.ticket-description {
  margin-top: 24px;
}

/* Program-Calendar Section */
.program-calendar {
  background-color: #f3f3f3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  list-style: none;
  border: 1px solid #e6e6e6;
  padding: 16px;
  display: flex;
  align-self: flex-end;
  margin-right: 60px;
}

.legend li {
  margin-right: 24px;
}

.legend li:last-child {
  margin-right: 0;
}

.legend li i {
  margin-right: 8px;
}