@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin:0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  --color-primary: #ec5242;
  --color-secondary: #272A31;
  --color-tertiar: #d3d3d3;
  --color-text-color: #070707
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--color-secondary);
  z-index: 10;
}

#open-menu, 
#close-menu {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 24px;
  justify-content: flex-start;
  padding-left: 16px;
}

#mobile-nav {
  width: 90%;
  height: 100vh;
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100vw;
  color: white;
  transition: 0.7s;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-secondary);
}

#mobile-nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
#mobile-nav ul li {
  width: 100%;
  height: 40px;
  margin-top: 50px;
}

#mobile-nav ul li a{
  width: 100%;
  padding: 16px;
  font-size: 32px;
  font-weight: 400;
  display:inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

#mobile-nav ul li hr {
  margin-left: 16px;
  margin-right: 50px;
  margin-top: 8px;
  border: 0.5px solid #425176d3;
}

/* Headline Section*/
#headline {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("images/background-mobile-image.png");
}

#headline .content-background .headline-titles {
  margin-top: 150px;
}

#headline .content-background{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: screen;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: url("images/backgroud-mobile-headline.png");
}

#headline .content-background h1 {
  font-size: 34px;
  font-weight: 700;
}

#headline .content-description {
  width: 100%;
  height: 600px;
  position: absolute;
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headline .content-description .headline-subtitle {
  width: 80%;
  font-weight: 300;
  background-color: rgba(211, 211, 211, 0.2);
  border: 5px solid white;
  padding: 13px 7px 13px 7px;
}

#headline .content-description .headline-date {
  font-weight: 700;
  color: #575757;
  margin-top: 50px;
}

#headline .content-description .headline-location {
  font-weight: 300;
  color: #575757;
  margin-top: 8px;
}